<div class="service_banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path @service.photo %>)"> -->
  <!-- <div class="banner-img">
    <%#= cl_image_tag @service.photo, width: 1900, height: 400, crop: :fill %>
  </div> -->
  <h1><%= @service.name %></h1>
</div>
<div class="row">
  <div class="service-details">
    <strong>Description of this awesome service:</strong><br>
    <%= @service.content %><br>
    <strong>Service location: </strong><%= @service.location %><br>
    <strong>Awesome price:  </strong><%= @service.price %> Euro<br>
  </div>
  <div class="service-details">
    <div class="form-ps">
     <h3>FAKE TEST FORM - INSERT THE ANDREAS REAL FORM</h3>
    <h1>Book this awesome Service</h1>
    <% @contract = Contract.new %>
    <%= simple_form_for [@service, @contract] do |f| %>
      <%= f.input :start_date %>
      <%= f.input :end_date %>
      <div class="flex">
      <%= f.submit "Let's book it!", class: "btn btn-secondary" %>
      <% if @contract.errors.any? %>
      <div class="errors-container">
        <ul>
          <% @contract.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
      <% end %>
      <% end %>
      </div>
    </div>
  </div>
  </div>
</div>
<p>THIS LINK SHOULD ONLY BE DISPLAYD FOR THE "SERVICE OWNER"</p>
<%= link_to 'Delete', service_path(@service), method: :delete %>
