<h2>Sign up</h2>

<div class="container">
 <div class="row justify-content-md-center">
    <div class="col col-lg-4">
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>
        <div class="form-group">
          <%= f.input :email,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" }%>
          <%= f.input :password,
                      required: true,
                      hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation,
                      required: true,
                      input_html: { autocomplete: "new-password" } %>
        </div>

          <%= f.button :submit, "Sign up", class:"btn-ps" %>

      <% end %>
      <br>
      <br>
      <%= render "devise/shared/links" %>
  </div>
</div>

</div>