<div class="container">
  <%= render 'shared/errors', obj: @contract %>

  <%= simple_form_for @contract  do |f| %>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
    <%= f.button :submit, class: "btn-ps" %>
  <% end %>
</div>