<div class="card-contract">
  <img src=<%= contract.service.photo %>>
  <div class="card-contract-infos">
    <div class="container">
      <h2><%= contract.service.name %></h2>
      <p><%= contract.start_date.to_s.first(10) %></p>
      <p><%= contract.end_date.to_s.first(10) %></p>
    </div>
      <% unless contract.confirmed %>
        <%= link_to provider_contract_path(contract) do %>
          <div class="btn-ps">
            Confirm
          </div>
        <% end %>
      <% else %>
        <%= link_to provider_contract_path(contract), method: :delete, data: { Confirm: 'Are you sure?' } do %>
          <div class="btn-ps">
            Cancel
          </div>
        <% end %>
      <% end %>
  </div>
</div>

