<div class="card-service">
  <%= link_to service_path(service) do %>

    <img src=<%= service.photo %> >
    <div class="info">
      <div>
        <h2><%= service.name %></h2>
        <div class="category"> <%= service.category.name %> </div>
        <p><%= service.content.first(80) %> ...</p>
      </div>
      <div class="details">
        <div>
          <span><%= service.price %> € </span><span class="price"> / day</span>
        </div>
        <% if current_user &&  (current_user.id == service.user_id) %>
          <%= link_to service_path(service), method: :delete do  %>
            <span class="btn-ps-delete">Delete</span>
          <% end %>
        <% end %>
      </div>

    </div>

  <% end %>

</div>
