<div class="card-contract">
  <img src=<%= contract.service.photo %>>
  <div class="card-contract-infos">
    <h2><%= contract.service.name %></h2>
    <p><%= contract.start_date %></p>
    <p><%= contract.end_date %></p>
    <%= link_to "Confirm", provider_contract_path(contract) %>
  </div>
</div>

