<div class="card-service">
  <%= link_to service_path(service) do %>

  <img src=<%= service.photo %> >

  <div class="card-service-infos">
    <div>
      <h2 class="card-info"><%= service.name %></h2>
      <p class="card-info"><%= service.content.first(50) %></p>
    </div>

    <div class="align-items-end">
      <h2 class="card-info"><%= service.price %> Euro</h2>
    <!-- <img src='https://kitt.lewagon.com/placeholder/users/krokrob' class="card-service-user avatar-bordered"/> -->
      <% if current_user.id == service.user_id %>
        <%= link_to service_path(service), method: :delete do  %>
          <p class="btn-ps btn-ps-sm card-info">Delete</p>
        <% end %>
      <% end %>
    </div>
  </div>
  <% end %>

</div>
