<div class="service_banner_no_picture">
    <h1>Your booked services</h1>
</div>
<div class="container">

  <% if @services.any? %>
    <% @services.each do |service| %>
      <% service.contracts.each do |contract| %>
        <%= render 'shared/card-contract', service: service, contract: contract  %>
        <div class="flex">
          <h5><%= contract.service.name %></h5>
          <h5><%= contract.start_date %> to <%= contract.end_date %></h5><br>
          <% if contract.confirmed %>
            <%= link_to "Confirm", provider_contract_path(contract), method: :patch, class: "btn-ps"  %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <h2>You don't have any bookings of your professional services.</h2>
  <% end %>
</div>


