
<div class="container pb-5">
  <h1>Test of components, Fionas working page :)</h1>
</div>

<div class="container pb-5">
  <h2>Card-Service</h2>
</div>

<div class="container pb-3 d-flex align-content-around flex-wrap justify-content-center">
<%= render 'shared/card-service' %>
<%= render 'shared/card-service' %>
<%= render 'shared/card-service' %>
<%= render 'shared/card-service' %>
<%= render 'shared/card-service' %>
<%= render 'shared/card-service' %>
<%= render 'shared/card-service' %>
</div>

<br><br>

<div class="container pb-3 justify-content-center">
<%= render 'shared/card-contract' %>
<%= render 'shared/card-contract' %>
<%= render 'shared/card-contract' %>
<%= render 'shared/card-contract' %>
<%= render 'shared/card-contract' %>
<%= render 'shared/card-contract' %>
<%= render 'shared/card-contract' %>
</div>
