<div class="service_banner_no_picture">
  <div class="container">
    <h1 class="ml-5 pl-5">Log in to Professional Services</h1>
  </div>
</div>
<div class="container">
  <div class="form-ps mt-2 mb-2" style="width:50%">
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

        <div class="form-group">
          <%= f.input :email,
                      required: false,
                      autofocus: true,
                      input_html: { autocomplete: "email" } %>
          <%= f.input :password,
                      required: false,
                      input_html: { autocomplete: "current-password" } %>
          <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
        </div>

        <%= f.button :submit, "Log in", class:"btn-ps" %>

       <% end %>
    <%= render "devise/shared/links" %>
  </div>
</div>
